
.codeText2 {
    /*background-color: black;*/
    width: 90%;
    text-align: left;
    margin-top: -28px;
}

.code1 {
    border-radius: 5px;
    line-height: 10px;
}

h1 {
    font-family: sans-serif
}

h2 {
    font-family: sans-serif
}

a {
    text-decoration: underline;
    color: grey;
}

p {
    font-family: "Arial", sans-serif;
    font-size: 19px;
}

.codeText1 {
    width: 90%;
    text-align: left;
    margin-top: -28px;
}

.secondBody {
    text-align: left;
    width: 90%;
    margin-left: 20px;
}

.code2 {
    border-radius: 5px;
}

.icone-bot {
    display: flex;
    justify-content: left;
}

span {
    font-family: "Arial",sans-serif;
    font-size: 19px;
}

.icone-bot-app {
    margin-left: 1px;
    margin-top: 17px;
}

img {
    border-radius: 5px;
}

.nav-div {
    background-color: #F3F3F3;
    width: 200px;
    border-right-color: black;
    border-right: solid;
}

.body-div {
    margin-left: -8px;
    margin-top: -16px;
    display: flex;
    font-family: "Arial",sans-serif;
}

.nav-ul li a{
    display: block;
    color: black;
    font-family: "Arial", sans-serif;
    text-decoration: inherit;
}

.nav-ul {
    list-style-type: none;
}


.title-anv {
    margin-left: -20px;
}

.nav-hr {
    margin-left: -20px;
    width: 160px;
}

.nav-a-select {
    cursor: pointer;
}

body {
    scroll-behavior: smooth;
}

scroll-container {
    scroll-behavior: smooth;
}
