
.codeText2 {
    /*background-color: black;*/
    width: 90%;
    text-align: left;
    margin-top: -28px;
}

.code1 {
    border-radius: 5px;
    line-height: 10px;
}

h1 {
    font-family: sans-serif
}

h2 {
    font-family: sans-serif
}

a {
    text-decoration: underline;
    color: grey;
}

p {
    font-family: "Arial", sans-serif;
    font-size: 19px;
}

.codeText1 {
    width: 90%;
    text-align: left;
    margin-top: -28px;
}

.secondBody {
    text-align: left;
    width: 90%;
    margin-left: 20px;
}

.code2 {
    border-radius: 5px;
}

.icone-bot {
    display: flex;
    justify-content: left;
}

span {
    font-family: "Arial",sans-serif;
    font-size: 19px;
}

.icone-bot-app {
    margin-left: 1px;
    margin-top: 17px;
}

img {
    border-radius: 5px;
}

.nav-div {
    background-color: #F3F3F3;
    width: 500px;
    border-right-color: black;
    border-right: solid;
}

.body-div {
    margin-left: -8px;
    margin-top: -16px;
    display: flex;
    font-family: "Arial",sans-serif;
}

.nav-ul li a{
    display: block;
    color: black;
    font-family: "Arial", sans-serif;
    text-decoration: inherit;
}

.nav-ul {
    list-style-type: none;
}


.title-anv {
    margin-left: -30px;
    border-bottom: solid
}

.nav-hr-title {
    margin-left: 0px;
    width: 160px;
}

.nav-a-select {
    cursor: pointer;
    margin-left: 10px
}

body {
    scroll-behavior: smooth;
}

scroll-container {
    scroll-behavior: smooth;
}
scroll-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 2em;
}

.fake-div {
    width: 510px;
    height: 10000px;
    background-color: #F3F3F3;
    border-right-color: black;
    border-right: solid;
}

.nav-hr {
    margin-left: -20px;
    width: 220px;
}



.li-nav {
    border-bottom-width: thin;
    border-bottom-color: grey;
    border-bottom-style: outset;
    margin-left: -40px;
}

.li-nav:hover {
    background-color: #D0D0D0;
}

.span-nav {
    text-align: center;
}



#title-anv {
    margin: auto;
    font-size: 22px;
}

#title-span-nav {
    text-align: center
}


